/*
 * Subject: IP Activity Analysis
 * Brief: CSS for web client visualising data to user.
 * Author: Katerina Pilatova
 * Date: 2016
 */

html,body {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
   font-size: 12pt;
   line-height: 1.2;
}

li:hover, input[type=submit]:hover {
   cursor: pointer;
   cursor: hand;
}

h1 {
   font-size: 150%;
   color: white;
}
h2 {
   text-shadow: 2px 2px #AABBCC;
}

.columns {
   padding-bottom: 20px;
   overflow: hidden;
}

hr {
   clear:both;
}

#page {
   position: relative;
   min-height: 100%;
}

/* Sections */
#header {
   background: #556677;
   overflow: hidden;
   border-bottom: 1px solid black;
   position: fixed;
   top: 0;
   left: 0;
   padding-left: 20px;
   height: 50px;
   width: 100%;
}

#header.wrapper {
  height: 50px;
}

#main {
   margin: 50px auto 0px;
   width: 900px;
   overflow: hidden;
}

#origin div.wrapper, #selected div.wrapper {
   max-width: 95%;
   margin: auto;
}

#origin, #selected {
   overflow: hidden;
   border-bottom: 1px solid black;
   padding-bottom: 50px;
}

#footer {
   background: #556677;
   overflow: hidden;
   border-top: 1px solid black;
   position: absolute;
   bottom: 0px;
   width: 100%;
}

/* Header */
#header h1 {
   margin-top: 15px;
   overflow: hidden;
}

#header ul {
   position: fixed;
   top: 0px;
   right: 0px;
   float: right;
   z-index: 1;
   height: 50px;
   margin: 0;
}

#header li.btn {
   display: block;
   float: left;
   padding: 0px 10px 0px 10px;
   border: 1px solid black;
   appearance: button;
   background-color: #68A4D6;
   border-radius: 5px;
   box-shadow: 5px 5px 8px SteelBlue inset;
}

#header li a {
   color: white;
   text-decoration: none;
   line-height: 49px;
   margin: 0;
   font-weight: bold;
}

#header li.btn:hover {
   background-color: SteelBlue;
}

/* Bitmaps */

#origin ul {
   margin: 0;
   padding: 0;
   overflow: hidden;
}

#origin h3 {
   display: inline-block;
}

div.floatable {
   float: left;
   width: 45%;
   max-width: 50%;
}

#origin #bitmap_type li {
   float: left;
   display: block;
   border: solid LightSlateGray;
   border-width: 1px 1px 0px 1px; 
   padding: 10px;
   margin: 0;
   border-radius: 5px 5px 0px 0px;
   background-color: LightSteelBlue;
}

#origin #bitmap_type li.chosen_type {
   background-color: LightSlateGray;
   color: white;
   box-shadow: 0px -1px 1px DarkSlateGray inset;
}

#origin #bitmap_outer {
   padding-top: 20px;
   clear: both;
}

#origin #bitmap_inner {
   border: 1px solid LightSlateGray;
   background: LightGray;
   border-radius: 0px 10px 10px 10px;
   overflow: hidden;
}


/* Tables */

.bitmap_table {
   margin: 0;
   padding: 0;
   border-collapse: collapse;
}

.bitmap_table th {
   background: LightSlateGray;
   padding: 5px;
   margin: 0;
   border: 1px solid black;
   text-align: left;
   color: white;
   min-width: 100px;
}

.bitmap_table td  {
   border: 1px solid black;
   text-align: left;
   min-width: 100px;
   width: 150px;
   text-align: center;
   padding: 5px;
   margin: 0 auto;
   overflow: hidden;
}

.bitmap_options .bitmap_table td {
   width: 230px;
}

.bitmap_table td *{
   float: left;
   margin-right: 5px;
}

.bitmap_table td p {
   margin: 3px 4px 0px 0px;
}

.bitmap_table td img {
   border: 1px solid black;
}

.curr_position {
   margin-top: 30px;
}

.curr_position th {
   text-align: center;
}

.curr_position #curr_interval {
   width: 50px;
}



/* Input */
input[type=submit] {
   background-color: #68A4D6;
   border-radius: 5px;
   box-shadow: 5px 5px 8px SteelBlue inset;
   color: white;
   padding: 5px 10px;
   font-weight: bold;
}

input[type=text] {
   background: LightSteelBlue;
}

input[type=text]:hover {
   background: #68A4D6;
}

input[type=submit]:hover {
   background: SteelBlue;
}

/* Footer */

#footer a {
   color: LightSteelBlue;
   text-decoration: none;
}

#footer div.wrapper {
   margin: auto;
   padding: auto;
   line-height: 50px;
   color: white;
}

#footer div.copyright {
   float: left;
   margin: auto;
   margin-left: 10px;
}

#footer div.author {
   float: right;
   margin: auto;
   margin-right: 10px;
}
